.empty {
    -fx-background-color: transparent;
    -fx-background-image: url(sea.png);
    -fx-background-size: 30px 30px;
}

.ship {
    -fx-background-color: transparent;
    -fx-background-image: url(ship.png);
    -fx-background-size: 30px 30px;
}

.ship-hit {
    -fx-background-color: transparent;
    -fx-background-image: url(fire.png);
    -fx-background-size: 30px 30px;
}

.miss {
    -fx-background-color: transparent;
    -fx-background-image: url(miss.png);
    -fx-background-size: 30px 30px;
}

.mine {
    -fx-background-color: transparent;
    -fx-background-image: url(mine.png);
    -fx-background-size: 30px 30px;
}

.text-winner {
    -fx-border-color: gold;
    -fx-font-size: 24px;
    -fx-color: red;
}

.text-remaining {

}

.grey-border {
    -fx-border-color: #000;
    -fx-border-width: 1px;
}