<?xml version="1.0" encoding="UTF-8"?>
<web-app xmlns="http://xmlns.jcp.org/xml/ns/javaee"
         xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
         xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd"
         version="3.1">

    <welcome-file-list>
        <welcome-file>pages/signup</welcome-file>
    </welcome-file-list>

    <!-- Pages Servlet -->
    <servlet>
        <servlet-name>LoginServlet</servlet-name>
        <servlet-class>servlets.LoginServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LoginServlet</servlet-name>
        <url-pattern>/pages/signup</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>MatchHubServlet</servlet-name>
        <servlet-class>servlets.MatchHubServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>MatchHubServlet</servlet-name>
        <url-pattern>/pages/matchhub</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>LogoutServlet</servlet-name>
        <servlet-class>servlets.LogoutServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>LogoutServlet</servlet-name>
        <url-pattern>/pages/logout</url-pattern>
    </servlet-mapping>
    s
    <servlet>
        <servlet-name>GameServlet</servlet-name>
        <servlet-class>servlets.GameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>GameServlet</servlet-name>
        <url-pattern>/pages/game</url-pattern>
    </servlet-mapping>

    <!-- End of Pages Servlet -->


    <servlet>
        <servlet-name>UsersServlet</servlet-name>
        <servlet-class>servlets.APIUserServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>UsersServlet</servlet-name>
        <url-pattern>/api/users</url-pattern>
    </servlet-mapping>

    <servlet>
        <servlet-name>APIGameServlet</servlet-name>
        <servlet-class>servlets.APIGameServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>APIGameServlet</servlet-name>
        <url-pattern>/api/games</url-pattern>
    </servlet-mapping>

</web-app>