.form-signin {
    max-width: 480px;
    margin: auto;
}

#js-messages, #js-status {
    margin-top: 20px;
}

h1 .glyphicon-refresh-animate {
    float: right;
    font-size: 16px;
}

.main-btns.btn-group {
    margin-top: 15px;
}

.actions .glyphicon-play {
    color: green;
}

.actions .glyphicon-remove {
    color: red;
}

.box {
    min-height: 350px;
}

.turns {
    max-height: 186px;
    overflow-y: scroll;
}

.ship-table {
    clear: both;
}

.ship-table td {
    width: 40px;
    height: 40px;
    overflow: hidden;
    color: transparent;
}

.ship-table .empty {
    background: url('/static/images/sea.png') no-repeat center;
    background-size: 35px 35px;
}

.ship-table .ship {
    background: url('/static/images/ship.png') no-repeat center;
    background-size: 35px 35px;
}

.icon {
    width: 35px;
    height: 35px;
}

.mine-wrapper {
    margin-top: 20px;
    float: right;
    margin-bottom: 0;
}

.mine {
    background: url('/static/images/mine.png') no-repeat center;
    background-size: 35px 35px;
}

.ship-table .miss {
    background: url('/static/images/miss.png') no-repeat center;
    background-size: 25px 25px;
}

.ship-table .ship_hit {
    background: url('/static/images/fire.png') no-repeat center;
    background-size: 35px 35px;
}

.ship-table .explode {
    background: url('/static/images/explode.png') no-repeat center;
    background-size: 35px 35px;
}

.c-player {
    position: relative;
}

.c-player .modal-backdrop {
    position: absolute;
}

.c-loading {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    text-align: center;
    vertical-align: middle;
    height: 200px;
    font-size: 72px;
    z-index: 1050;
}

.glyphicon-refresh-animate {
    -animation: spin .7s infinite linear;
    -ms-animation: spin .7s infinite linear;
    -webkit-animation: spinw .7s infinite linear;
    -moz-animation: spinm .7s infinite linear;
}

@keyframes spin {
    from {
        transform: scale(1) rotate(0deg);
    }
    to {
        transform: scale(1) rotate(360deg);
    }
}

@-webkit-keyframes spinw {
    from {
        -webkit-transform: rotate(0deg);
    }
    to {
        -webkit-transform: rotate(360deg);
    }
}

@-moz-keyframes spinm {
    from {
        -moz-transform: rotate(0deg);
    }
    to {
        -moz-transform: rotate(360deg);
    }
}